@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  list-style: none;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 300px;
}
.header__logo-image{
  width: 130px;
}
.header__nav-list{
  display: flex;
  gap: 1.5rem;
  font-weight: 400;
}
.header__nav-link{
  color: #3E3D3D;
}
.header__nav-item{
  font-weight: 700;
}
.header__nav-link-home{
  color:  #D92950;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 300px 100px;
}
.hero__content{
  max-width: 900px;
}
.hero__title{
  font-size: 25px;
  color: #3E3D3D;
}
.hero__description{
  font-size: 20px;
  margin-top: 30px;
}
.button--primary{
  padding: 10px;
  width: 180px;
  border: none;
  border-radius: 10px;
  background-color: #D92950;
  color: white;
  font-size: 20px;
  margin: 30px 0;
}
.options{
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 5rem;
  padding: 150px 300px;
  background-color: #FAF3E9;
}
.options__item{
  padding: 15px;
  border : 1px solid #3E3D3D;
  border-radius: 10px;
  width: 380px;
}
.options__title{
  font-size: 15px;
  color: #3E3D3D;
  margin: 25px 0;
}
.options__description{
  line-height: 30px;
  font-size: 18px;
}
.start-coding{
  display: flex;
  align-items: center;
  padding: 100px 300px 80px;
  background-color: #282C34;
  color: #FFFFFF;
}
.start-coding__content{
  max-width: 530px;
  padding-left: 50px;
}
.start-coding__title{
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.start-coding__description{
  font-size: 18px;
  color: #FFFFFF;
}
.learning{
  padding: 100px 300px 80px;
}
.learning__title{
  text-align: center;
  font-size: 25px;
  color: #3E3D3D;
}
.learning__courses{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 100px 0;
}
.learning__course{
  padding: 50px 70px;
  border : none;
  background-color: #FAF3E9;
  border-radius: 10px;
  color: #3E3D3D;
  display: grid;
  grid-row: 3;
  grid-column: 3;
}
.learning__course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.learning__more{
  display: flex;
  gap: 50px;
}
.learning__more a{
  color: #D92950;
  font-size: 18px;
  font-weight: 600;
}
.contact{
  padding: 0 300px;
  background-color: #FAF3E9;
}
.contact__title{
  text-align: center;
  font-size: 25px;
  color: #3E3D3D;
  padding: 100px 0;
}
.contact__form-group{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact__form-field label{
  display: block;
}
.contact__form-field{
  width: 45%;
}
.contact__form-message {
  margin-top: 80px;
}
.contact__form-message label{
  display: block;
  width: 100%;
}
#name{
  height: 65px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 15px;
}
#email{
  height: 65px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 15px;
}
#message{
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 15px;
}
.contact__form-cta{
  display: flex;
  justify-content: end;
}
.contact__form-btn{
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #D92950;
  color: white;
  font-size: 20px;
  margin: 30px 0;

}

/* General Styles */
.footer {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  margin: 80px 0;
  font-size: 20px;
}

.footer__address {
  margin: 1rem 0;
}

.footer__social {
  justify-content: center;
}

.footer__logo img {
  width: 150px;
}

.footer__address {
  flex: 1;
  text-align: center;
  color:  #282C34;
}

.footer__social {
  display: flex;
  gap: 2rem;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  width: 25px;
  height: 25px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
  }

  .footer__address {
      margin: 1rem 0;
  }

  .footer__social {
      justify-content: center;
  }
}
